{% extends 'AppTemplate/AppBase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Blog Yazıları
        {% endblock title %}
    </title>
</head>
<body>
    {% block content %}
        <div class="container">
            <div class = "row">
                <p>Henüz yazı eklenmedi.</p>
            </div>
        </div>
    {% endblock content %}
</body>
</html>